@font-face {
   font-family: 'DomaineDisplay';
   font-display: swap;
   src: url('file:///Users/Tim/Library/Application%20Support/Mobirise.com/Mobirise/projects/project-2020-07-04_000620/fonts/DomaineDisplay/font.ttf');
}
